@charset "UTF-8";
.bloque-main {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  margin-bottom: 58px;
  padding: 2px;
  padding: 2px 0px 0px 0px;
  justify-items: stretch;
  align-content: space-between;
  align-items: flex-start;
  justify-content: space-evenly; }

.bloque-main__encabezado {
  grid-area: grillaTituloIndex;
  margin-top: 0vh;
  padding-top: 10px; }

.bloque-main__titulo--subrayado {
  text-decoration-line: underline; }

.bloque-main__titulo--bold {
  font-weight: bold; }

.bloque-main__titulo--grande {
  font-size: 1.7rem; }

.bloque-main__titulo--transformado {
  animation-duration: 5s;
  animation-name: principal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  color: #d62708; }

.bloque-main__descripcion {
  font-size: 1.4rem;
  width: auto;
  height: auto; }

.seccion-card {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  flex-basis: 100px; }

.seccion-card--festividades {
  grid-area: grillaFox; }

.seccion-card--ciudades {
  grid-area: grillaFuji; }

.seccion-card--transporte {
  grid-area: grillaTren; }

.seccion-card--sobreMi {
  grid-area: grillaGato; }

.seccion-card__enlace--tamano {
  width: auto;
  height: auto;
  font-family: "Reggae One", cursive;
  font-size: 1.4rem; }

.seccion-card__enlace--bold {
  font-weight: bold;
  color: tomato; }

.seccion-card__imagen {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 25px;
  margin-top: 10px;
  margin-bottom: 10px; }

.seccion-card__imagen--estilo {
  margin: 2px; }

.seccion-card__imagen__enlace--estilo {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  border-radius: 30%;
  border: tomato 2px solid; }

.seccion-card__imagen__enlace--fuji {
  background-image: url("../media/img/img-fuji.jpg"); }

.seccion-card__imagen__enlace--tren {
  background-image: url("../media/img/img-tren.jpg"); }

.seccion-card__imagen__enlace--nekko {
  background-image: url("../media/img/img-nekko.jpg"); }

.seccion-card__imagen__enlace--foxx {
  background-image: url("../media/img/img-foxx.jpg"); }

/*---------------imagenes de cada logo de pagina -----*/
.encabezado-principal__titulo {
  font-weight: bold;
  text-align: center;
  color: red; }

.encabezado-principal__titulo--grande {
  font-size: 2.3rem; }

.encabezado-principal__logo--medida {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 65px;
  border-radius: 10%; }

.foto-card__contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 25px;
  margin-top: 50px;
  margin-bottom: 50px; }

.foto-card__imagen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 250px;
  border-radius: 5%;
  border: black 1px solid; }

.foto-card__imagen--medida-principal {
  height: 200px;
  width: 250px; }

.foto-card__imagen--medidas {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 250px;
  border-radius: 5%;
  border: black 1px solid; }

.foto-card__imagen--buda {
  background-image: url("../media/img/sobremi-buda.jpg"); }

.foto-card__imagen--puerta {
  background-image: url("../media/img/sobremi-puerta.jpg"); }

.foto-card__imagen--nieve {
  background-image: url("../media/img/sobremi-nieve.jpg"); }

.foto-card__imagen--diciembre {
  background-image: url("../media/img/sobremi-diciembre.jpg"); }

.foto-card__descripcion {
  text-align: center;
  margin: 5px 0px; }

.foto-card__descripcion__texto {
  color: black; }

.galeria-fotos-grande {
  padding-bottom: 4rem; }

.footer {
  background-image: linear-gradient(#FFF3F1, tomato);
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 1.6;
  display: flex;
  grid-area: gFooter;
  padding-bottom: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center; }

.footer-sugeridas {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.footer-iconos__redes {
  display: flex;
  align-items: center;
  flex-flow: row; }

.footer-iconos__enlace, .footer-iconos__enlace--facebook, .footer-iconos__enlace--youtube, .footer-iconos__enlace--instagram {
  margin: 0px 2px;
  font-size: 1.4em;
  color: black;
  text-decoration: none; }

.footer-iconos__enlace:hover, .footer-iconos__enlace--facebook:hover, .footer-iconos__enlace--youtube:hover, .footer-iconos__enlace--instagram:hover {
  color: black; }

.footer-iconos__enlace--facebook {
  color: blue; }

.footer-iconos__enlace--youtube {
  color: red; }

.footer-iconos__enlace--instagram {
  color: purple; }

.footer-mapa {
  display: flex;
  justify-content: space-evenly; }

.footer-mapa__lista {
  text-align: center;
  font-size: 1.1rem;
  padding-left: 0rem; }

.footer-mapa__lista__item {
  letter-spacing: normal;
  word-spacing: normal; }

.footer-mapa__enlace {
  font-weight: bold;
  text-decoration: none;
  color: black; }

.sitemap {
  margin-bottom: 30px;
  display: none; }

.sitemap-habilitado {
  display: contents; }

.site-map-web-padding {
  padding-left: 0px;
  list-style-type: none;
  letter-spacing: normal;
  word-spacing: normal; }
  .site-map-web-padding a {
    color: black; }
    .site-map-web-padding a:hover {
      color: #0d6efd; }

.bloque-main-contacto__general {
  padding: 2rem;
  margin: 2rem; }

.bloque-main-contacto__titulo {
  font-weight: bold; }

.bloque-main-contacto__formulario {
  margin: 3rem 0; }

/*-------------clases de bootstrap modificadas------------------------------*/
.btn {
  margin: 0.475rem; }

.navbar {
  height: max-content;
  border: tomato 2px solid;
  padding-bottom: 0;
  padding-top: 0;
  height: 4rem; }

.navbar-nav {
  color: white; }
  .navbar-nav li ul {
    background-image: linear-gradient(30deg, tomato, #dd9f94); }

.dropdown-item {
  text-align: center; }

.dropdown-item:hover {
  background-color: tomato; }

.navbar-toggler {
  background-color: white; }

.row {
  margin: 3px;
  margin-bottom: 5px; }

.btn-outline-dark:hover {
  border: red 1px solid; }

.btn--1 {
  margin: 0.475rem; }

.btn--2 {
  margin: 0.95rem; }

.btn--3 {
  margin: 1.425rem; }

.btn--4 {
  margin: 1.9rem; }

* {
  margin: margin 0px;
  padding: margin 0px; }

/*--------------index  y diseños generales---------------*/
body {
  background-color: #FFF3F1;
  font-family: "Nunito Sans", sans-serif, "Reggae One", cursive;
  font-size: normal;
  padding-top: 0px;
  width: 100%;
  overflow-x: hidden;
  -webkit-tap-hightlight-color: black;
  font-weight: 200;
  margin-top: 0px; }

p {
  color: black;
  font-weight: 4rem;
  padding: 2px;
  text-align: justify; }

h1 {
  color: red;
  font-family: "Reggae One", cursive;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: normal;
  word-spacing: 2px; }

section ul li {
  color: black;
  font-weight: 5rem;
  list-style: none; }

@keyframes principal {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.puerta {
  font-family: "Reggae One", cursive;
  color: white;
  background-color: transparent; }

.colorMenu {
  background-image: linear-gradient(30deg, tomato, #FFF3F1);
  background-color: tomato;
  color: white;
  font-weight: bold; }

.bordeRojo {
  border-bottom: red 2px solid; }

.medidaTravolta {
  width: 400px;
  height: 250px;
  margin-bottom: 60px; }

.gris:hover {
  filter: grayscale(80%);
  transition: all .5s ease-in-out; }

.sombra {
  box-shadow: 11px 10px 10px #999; }

.negrita {
  font-weight: bold; }

.texto-grande {
  font-size: 1.7rem; }

.texto-mediano {
  margin-top: 0.9em;
  font-size: 1.3rem;
  font-weight: bold; }

.texto-pequeno {
  font-size: 1.2rem; }

.titulosSecciones {
  color: red;
  font-family: "Reggae One", cursive; }

.textoAlineado-izq {
  text-align: left; }

.textoAlineado-cent {
  text-align: center; }

.textoAlineado-der {
  text-align: right; }

.textoAlineado {
  text-align: center; }

.sinDecorado {
  text-decoration-line: none; }

.grow {
  transition: none; }
  .grow:hover {
    transform: none; }

/*-----------------banner ---------------*/
.fondoBanner {
  background-image: url("../media/img/banner.jpg");
  background-repeat: repeat;
  background-size: 300px;
  width: 100%;
  height: 4.5rem;
  border: tomato 1px solid;
  border-top: 0x;
  z-index: 9999; }

/*----------------estilos de seccion festividades -----------*/
.tamanoImagenes {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 65px;
  border-radius: 10%; }

.festividades {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  flex-basis: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }

.fotosFestividades {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 25px;
  margin-top: 50px;
  margin-bottom: 50px; }

.fotosFest {
  margin: 2px; }

.fotoFs {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 250px;
  border-radius: 5%;
  border: black 1px solid;
  margin: 5px 0 1em 0; }

.fotoFsEnero1 {
  background-image: url("../media/img/festividades-enero1.jpg"); }

.fotoFsEnero2 {
  background-image: url("../media/img/festividades-enero2.jpg"); }

.fotoFsEnero3 {
  background-image: url("../media/img/festividades-enero3.jpg"); }

.fotoFsEnero4 {
  background-image: url("../media/img/festividades-enero4.jpg"); }

.fotoFsAbril1 {
  background-image: url("../media/img/festividades-abril1.jpg"); }

.fotoFsAbril2 {
  background-image: url("../media/img/festividades-abril2.jpg"); }

.fotoFsAbril3 {
  background-image: url("../media/img/festividades-abril3.jpg"); }

.fotoFsAbril4 {
  background-image: url("../media/img/festividades-abril4.jpg"); }

.fotoGrow {
  flex-grow: 1; }

.grillaFestividades {
  display: grid;
  grid-column-gap: 2px;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  justify-content: stretch;
  padding-right: 0px;
  margin-bottom: 60px;
  grid-template-areas: "gFestividades"         "gEnero"                             "fEnero"       "iEnero" "gAbril" "fAbril" "iAbril" "gFooter";
  grid-template-columns: 3fr; }

.grillaTitulosFestividades {
  grid-area: gFestividades;
  padding: 0.5rem; }

.grillaEnero {
  grid-area: gEnero; }

.fotosGrillaEnero {
  grid-area: fEnero; }

.infoEnero {
  grid-area: iEnero; }

.grillaAbril {
  grid-area: gAbril; }

.fotosGrillaAbril {
  grid-area: fAbril; }

.infoAbril {
  grid-area: iAbril; }

.propAside {
  background-size: cover;
  background-position: center;
  list-style: none;
  border-radius: 1%;
  width: 96%;
  height: 95%;
  border: black 1px solid; }

.asideEnero {
  grid-area: aEnero;
  background-image: url("../media/img/festividades-aside-castle.jpg"); }

.asideAbril {
  grid-area: aAbril;
  background-image: url("../media/img/festividades-aside-sakura.jpg"); }

/* ----------------- estilos de transporte----------------------*/
.fotoTr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 250px;
  border-radius: 5%;
  border: black 1px solid;
  margin: 5px 0 1em 0; }

.fotojrpassestandar {
  background-image: url("../media/img/transporte-jrpassestandar.jpg"); }

.fotojrgreen {
  background-image: url("../media/img/transporte-jrgreen.jpg"); }

.fotoicicoca {
  background-image: url("../media/img/transporte-icicoca.jpg");
  background-size: 95%; }

.fotoicsuica {
  background-image: url("../media/img/transporte-icsuica.jpg");
  background-size: 95%; }

.fotoShinkansen1 {
  background-image: url("../media/img/transporte-shinkansen1.jpg"); }

.fotoShinkansen2 {
  background-image: url("../media/img/transporte-shinkansen2.jpg"); }

.fotoShinkansen3 {
  background-image: url("../media/img/transporte-shinkansen3.jpg"); }

.fotoShinkansen4 {
  background-image: url("../media/img/transporte-shinkansen4.jpg"); }

.fototrenjr {
  background-image: url("../media/img/transporte-trenjr.jpg"); }

.fototrenpikachu {
  background-image: url("../media/img/transporte-trenpikachu.jpg"); }

.fotobusghibli {
  background-image: url("../media/img/transporte-busghibli.jpg"); }

.fotobusjapan {
  background-image: url("../media/img/transporte-busjapan.jpg"); }

.fotoTaxi1 {
  background-image: url("../media/img/transporte-taxi1.jpg"); }

.fotoTaxi2 {
  background-image: url("../media/img/transporte-taxi2.jpg"); }

.grillaTransporte {
  display: grid;
  grid-template-rows: max-content;
  grid-row-gap: 50px;
  grid-column-gap: 5px;
  padding: 1rem;
  grid-template-areas: "tituloJr" "fotoJr"       "textoIc" "fotoIc" "tituloShin" "fotoShin" "fotoShin" "fotoShin" "fotoShin"   "tituloCole" "fotoCole" "tituloTaxi" "fotoTaxi" "tituloTren" "fotoTren";
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr; }

.grillaTituloJr {
  grid-area: tituloJr; }

.grillaFotosJr {
  grid-area: fotoJr; }

.grillaTituloIc {
  grid-area: textoIc; }

.grillaFotosIc {
  grid-area: fotoIc; }

.grillaTituloShin {
  grid-area: tituloShin; }

.grillaFotosShin {
  grid-area: fotoShin;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-basis: 50px; }

.grillaTituloCole {
  grid-area: tituloCole; }

.grillaFotosCole {
  grid-area: fotoCole; }

.grillaTituloTaxi {
  grid-area: tituloTaxi; }

.grillaFotosTaxi {
  grid-area: fotoTaxi; }

.grillaTituloTren {
  grid-area: tituloTren; }

.grillaFotosTren {
  grid-area: fotoTren; }

/*------------- definiciones de seccion ciudades turisticas-----------*/
.asideCiudad {
  margin: 10px;
  width: 100%;
  height: 100%;
  min-height: 50px;
  min-width: 100px;
  max-width: 350px;
  max-height: 200px; }

.mapaTokyo {
  grid-area: mTokyo; }

.mapaKyoto {
  grid-area: mKyoto; }

.mapaNara {
  grid-area: mNara; }

.mapaMiyajima {
  grid-area: mMiyajima; }

.asideTokyo {
  grid-area: aTokyo; }

.fotosGrillaTokyo {
  grid-area: fTokyo; }

.grillaTokyo {
  grid-area: gTokyo; }

.asideKyoto {
  grid-area: aKyoto; }

.fotosGrillaKyoto {
  grid-area: fKyoto; }

.grillaKyoto {
  grid-area: gKyoto; }

.asideNara {
  grid-area: aNara; }

.fotosGrillaNara {
  grid-area: fNara; }

.grillaNara {
  grid-area: gNara; }

.asideMiyajima {
  grid-area: aMiyajima; }

.fotosGrillaMiyajima {
  grid-area: fMiyajima; }

.grillaMiyajima {
  grid-area: gMiyajima; }

.grillaCiudades h3 {
  border-bottom: red 2px solid; }

.grillaTituloCiudades {
  grid-area: gCiudades; }

.grillaCiudades {
  display: grid;
  grid-column-gap: 2px;
  row-gap: 60px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
  grid-template-areas: "gCiudades" "gTokyo "    "mTokyo"   "aTokyo" "gKyoto"  "mKyoto" "aKyoto"                    " gNara "         "mNara" "aNara" "gMiyajima"       "mMiyajima" "aMiyajima" "gFooter ";
  grid-template-columns: 3fr; }

.fotoTk1 {
  background-image: url("../media/img/ciudades-tokyo1.jpg"); }

.fotoTk2 {
  background-image: url("../media/img/ciudades-tokyo2.jpg"); }

.fotoTk3 {
  background-image: url("../media/img/ciudades-tokyo3.jpg"); }

.fotoKy1 {
  background-image: url("../media/img/ciudades-kyoto1.jpg"); }

.fotoKy2 {
  background-image: url("../media/img/ciudades-kyoto2.jpg"); }

.fotoKy3 {
  background-image: url("../media/img/ciudades-kyoto3.jpg"); }

.fotoN1 {
  background-image: url("../media/img/ciudades-nara1.jpg"); }

.fotoN2 {
  background-image: url("../media/img/ciudades-nara2.jpg"); }

.fotoN3 {
  background-image: url("../media/img/ciudades-nara3.jpg"); }

.fotoM1 {
  background-image: url("../media/img/ciudades-miyajima1.jpg"); }

.fotoM2 {
  background-image: url("../media/img/ciudades-miyajima2.jpg"); }

.fotoM3 {
  background-image: url("../media/img/ciudades-miyajima3.jpg"); }

.estiloFondoHeader {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border: tomato 2px solid;
  height: 15vh; }

.fondoHeader-torii {
  background-image: url("../media/img/fondo_torii.jpeg"); }

.fondoHeader-festividades {
  background-image: url("../media/img/fondo_festividades.jpeg"); }

.fondoHeader-ciudades {
  background-image: url("../media/img/fondo_ciudades.jpeg"); }

.fondoHeader-transporte {
  background-image: url("../media/img/fondo_transporte.jpeg");
  background-position-y: 37%; }

.fondoHeader-sobremi {
  background-image: url("../media/img/fondo_sobremi.jpeg");
  background-position-y: 32%; }

@media only screen and (min-width: 992px) {
  .navbar-nav li:hover {
    border-bottom: black 2px solid; } }

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; } }

@media only screen and (min-width: 967px) {
  .footer {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-items: center;
    min-height: 30vh; }
  .footer-iconos__redes {
    flex-flow: column; }
  .sitemap {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; }
  .sitemap-habilitado {
    display: flex;
    flex-wrap: wrap; } }

@media only screen and (min-width: 416px) and (max-width: 966px) {
  .encabezado-principal__titulo--grande {
    font-size: 2rem;
    color: red; }
  .foto-card__imagen {
    margin-top: 15px;
    margin-bottom: 15px; }
  .sitemap-habilitado {
    display: flex;
    justify-content: center; }
  .foto-card__descripcion__texto {
    text-align: center; } }

/*------------------900Px--------------*/
@media only screen and (min-width: 900px) {
  .foto-card__imagen--medida-principal {
    transition: height 2s, width 2s; }
  .foto-card__imagen--medida-principal:hover {
    height: 350px;
    width: 300px; }
  .foto-card__imagen--grande:hover {
    height: 450px;
    width: 650px; }
  .foto-card__descripcion__texto {
    text-align: center; } }

@media only screen and (min-width: 416px) and (max-width: 966px) {
  .seccion-card__imagen__enlace--estilo {
    width: 110px;
    height: 150px; }
  .bloque-main__encabezado {
    padding: 10px 0 20px 0;
    margin-top: 0px;
    width: 100%; }
  .bloque-main__titulo--grande {
    font-size: 2.4rem; }
  .seccion-card__imagen {
    margin-top: 15px;
    margin-bottom: 15px; }
  .bloque-main__descripcion {
    font-size: 1.7rem; }
  .bloque-main {
    display: grid;
    grid-template-areas: "grillaTituloIndex" "grillaFox" "grillaFuji"  "grillaTren"  "grillaGato" "footer";
    grid-template-columns: 3fr;
    margin: 0px;
    padding: 0px; }
  .seccion-card__enlace--tamano {
    font-size: 1.7rem; }
  .bloque-main__encabezado {
    margin-top: -31vh; }
  .bloque-main__descripcion {
    margin-top: 26vh; } }

@media only screen and (min-width: 967px) {
  .seccion-card__imagen__enlace--estilo {
    transition: height 2s, width 2s;
    width: 100px;
    height: 150px; }
  .seccion-card__imagen__enlace--estilo:hover {
    height: 200px;
    width: 150px; }
  .bloque-main__encabezado {
    padding: 0px 0 0px 0;
    margin-top: -50vh; }
  .bloque-main__titulo--grande {
    font-size: 2.7rem; }
  .seccion-card__imagen {
    margin-top: 50px;
    margin-bottom: 50px; }
  .bloque-main__descripcion {
    font-size: 2rem; }
  .seccion-card__enlace--tamano {
    font-size: 1.7rem; }
  .bloque-main {
    margin: 2px;
    padding: 2px;
    display: grid;
    grid-template-areas: "grillaTituloIndex grillaTituloIndex grillaTituloIndex" ". grillaFox  . " ". grillaFuji . "  ". grillaTren ."  ". grillaGato ." "footer footer footer";
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 0px; } }

/*---------------MEDIAS generales, FESTIVIDADES, TRANSPORTE, CIUDADES-----------------*/
@media only screen and (min-width: 416px) and (max-width: 966px) {
  p {
    text-align: center; }
  h1 {
    font-weight: 25px;
    letter-spacing: 1px;
    word-spacing: 5px;
    padding: 5px; }
  .fondoBanner {
    height: 60px;
    z-index: 9999; }
  .texto-grande {
    font-size: 2rem; }
  .texto-mediano {
    font-size: 1.5rem; }
  .festividades {
    margin: 6px;
    padding: 6px; }
  .fotosFestividades {
    margin-top: 15px;
    margin-bottom: 15px; }
  .grillaFestividades {
    display: grid;
    grid-template-areas: "gFestividades gFestividades" "gEnero gEnero"      "fEnero fEnero"       "iEnero iEnero" "gAbril gAbril" "fAbril fAbril" "iAbril iAbril" "gFooter gFooter";
    grid-template-columns: auto; }
  .grillaCiudades {
    grid-template-areas: "gCiudades" "gTokyo "    "mTokyo"   "aTokyo" "gKyoto"  "mKyoto" "aKyoto"                    " gNara "         "mNara" "aNara" "gMiyajima"       "mMiyajima" "aMiyajima" "gFooter ";
    grid-template-columns: 3fr; }
  .grillaTransporte {
    grid-template-areas: "tituloJr tituloJr" "fotoJr fotoJr"       "textoIc textoIc" "fotoIc fotoIc" "tituloShin tituloShin" "fotoShin fotoShin" "fotoShin fotoShin"           "tituloCole tituloCole" "fotoCole fotoCole" "tituloTaxi tituloTaxi" "fotoTaxi fotoTaxi" "tituloTren tituloTren" "fotoTren fotoTren";
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr; }
  .estiloFondoHeader {
    height: 30vh; } }

@media only screen and (min-width: 967px) {
  .estiloFondoHeader {
    height: 53vh;
    background-attachment: fixed; }
  .fondoHeader-transporte {
    background-position-y: 63%; }
  .fondoHeader-sobremi {
    background-position-y: 36%; }
  .fondoBanner {
    border: tomato 4px solid;
    height: 5rem; }
  .grillaTransporte {
    grid-template-areas: "tituloJr tituloJr fotoJr" "textoIc textoIc   fotoIc"     "tituloShin tituloShin tituloShin"    "fotoShin fotoShin   fotoShin"    "tituloCole tituloCole fotoCole"  "tituloTaxi tituloTaxi fotoTaxi"        "tituloTren tituloTren fotoTren";
    grid-template-columns: 4fr 1fr;
    justify-items: stretch;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-evenly; }
  .festividades {
    margin: 10px;
    padding: 20px; }
  .fotosFestividades {
    margin: 5px; }
  .grillaFestividades {
    grid-template-areas: "gFestividades gFestividades gFestividades gFestividades" "gEnero gEnero gEnero aEnero" "fEnero fEnero fEnero aEnero"     "iEnero iEnero iEnero aEnero" "gAbril gAbril gAbril aAbril"  "fAbril fAbril fAbril aAbril" "iAbril iAbril iAbril aAbril" "gFooter gFooter gFooter gFooter";
    grid-template-columns: 3fr 3fr 3fr 1.6fr; }
  .grillaCiudades {
    grid-template-areas: "gCiudades gCiudades gCiudades gCiudades"     "gTokyo gTokyo gTokyo mTokyo"    "gTokyo gTokyo gTokyo aTokyo"        "mKyoto gKyoto gKyoto gKyoto" "aKyoto gKyoto gKyoto gKyoto" "gNara gNara gNara mNara" "gNara gNara gNara aNara"         "mMiyajima gMiyajima gMiyajima gMiyajima" "aMiyajima gMiyajima gMiyajima gMiyajima" "gFooter gFooter gFooter gFooter";
    grid-template-columns: 2fr 2fr 2fr 2fr; }
  .texto-grande {
    font-size: 2.3rem; }
  .texto-mediano {
    font-size: 1.7rem;
    font-weight: normal; }
  .grow {
    transition: all .3s ease-in-out; }
    .grow:hover {
      transform: scale(1.3, 1.3); } }

/*-------------------991px Y 992PX-------------*/
@media only screen and (min-width: 992px) {
  .colorMenu {
    background-image: none; } }
