$font-titulo:'Reggae One', cursive;
$color-principal:tomato;
$color-transformado:rgb(214, 39, 8);
//--------------------------------inicio de estilo del bloque principal----
.bloque-main  {
    display: flex;
    flex-flow: row wrap;    
    margin: 0px;
    margin-bottom: 58px;
    padding: 2px;
    padding: 2px 0px 0px 0px;
    justify-items: stretch;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-evenly; 
}
//-----------------------estilo del encabezado del index
.bloque-main__encabezado {
    grid-area: grillaTituloIndex;    
    margin-top: 0vh;
    padding-top: 10px;
}
//------------------------estilos de fuente
.bloque-main__titulo--subrayado{
    text-decoration-line: underline;
}
.bloque-main__titulo--bold{
    font-weight: bold;
}
.bloque-main__titulo--grande{
    
    font-size: 1.7rem;
} 
//---------------efecto del titulo principal
.bloque-main__titulo--transformado{
    animation-duration: 5s;
    animation-name: principal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    color:$color-transformado;
} 
//---------------------------
.bloque-main__descripcion{
    font-size: 1.4rem;
    width: auto;
    height: auto;
}
 //------------estilos de cada imagen que vincula las paginas
.seccion-card{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    flex-basis: 100px;
}
@each $grilla in grillaFox,grillaFuji,grillaTren,grillaGato {
    .seccion-card--#{$grilla}{
        grid-area:#{$grilla};
    }
}
//--------------------------------------
.seccion-card__enlace--tamano{    
    width: auto;
    height: auto; 
    font-family:$font-titulo;   
    font-size: 1.4rem;
}
.seccion-card__enlace--bold{
    font-weight: bold;  
    color:$color-principal;
}
//--------------------------------------
.seccion-card__imagen{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 25px;    
    margin-top: 10px;
    margin-bottom: 10px;
}
//----------------------------------------
.seccion-card__imagen--estilo{
    margin: 2px;
}
//------------------------------
.seccion-card__imagen__enlace--estilo{
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;    
    width: 180px;
    height: 200px;
    border-radius: 30%;
    border:$color-principal 2px solid;
}
@each $img in fuji,tren,nekko,foxx {
    .seccion-card__imagen__enlace--#{$img} { 
        background-image:url('../media/img/img-#{$img}.jpg');
    }
}
