$color-fondo:#FFF3F1;
$color-principal:tomato;
$color-black:black;
$color-white:white;
$color-titulo:red;
$color-enlace:#0d6efd;
$color-sombra:#999;
$font-principal:'Nunito Sans', sans-serif;
$font-titulo:'Reggae One', cursive;
$sin-margen:margin 0px;
$tamano-total:100%;

@import "index";
@import "sobreMi";
@import "footer";
@import "contacto";
@import "estilosBs";
//------reseteo inicial------------
* {
    margin:$sin-margen;
    padding:$sin-margen;   
}
/*--------------index  y diseños generales---------------*/
body {
    background-color:$color-fondo;
    font-family:$font-principal,$font-titulo;     
    font-size:normal;      
    padding-top: 0px;
    width:$tamano-total;    
    overflow-x: hidden;
    -webkit-tap-hightlight-color:$color-black;    
    font-weight: 200;
    margin-top:0px;
}
p {
    color:$color-black;
    font-weight: 4rem;   
    padding:2px;          
    text-align: justify;  
} 
h1 {
    color:$color-titulo;
    font-family:$font-titulo;    
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: normal;
    word-spacing: 2px; 
} 
section{  
    ul {
        li{ 
            color:$color-black;
            font-weight: 5rem;
            list-style: none;
        }
    }
} 
@keyframes principal {
    0% {
        opacity: 0.1;
    }    
    100%{
        opacity:1;
    }
}
.puerta {
    font-family: $font-titulo;
    color:  $color-white;    
    background-color: transparent;
}
.colorMenu{         
    background-image: linear-gradient(30deg, $color-principal,$color-fondo);
    background-color:$color-principal;
    color:$color-white;
    font-weight:bold;
    }
.bordeRojo {
    border-bottom:$color-titulo 2px solid;
}
.medidaTravolta {
    width:400px;
    height:250px;
    margin-bottom:60px;
}
//----- imagen a escala de grises------
.gris:hover {
    filter: grayscale(80%);
    transition:all .5s ease-in-out;
    }
.sombra {
    box-shadow: 11px 10px 10px $color-sombra;
}

//-----estilos sobre fuentes------
.negrita {
    font-weight: bold;
}
.texto-grande {
    font-size: 1.7rem;
}
.texto-mediano {    
    margin-top: 0.9em;    
    font-size: 1.3rem;
    font-weight: bold;
}
.texto-pequeno {
    font-size: 1.2rem;    
}
.titulosSecciones {
    color:$color-titulo;
    font-family: $font-titulo;
}
.textoAlineado-izq {
    text-align: left;
}
.textoAlineado-cent{
    text-align: center;
}
.textoAlineado-der {
    text-align: right;
}  
.textoAlineado{
    text-align: center;        
}
.sinDecorado {
    text-decoration-line: none;    
} 
.grow { 
    transition:none; 

    &:hover{
        transform: none;
    }
}
/*-----------------banner ---------------*/
.fondoBanner {    
    background-image: url("../media/img/banner.jpg");
    background-repeat: repeat;
    background-size: 300px;
    width:$tamano-total;
    height: 4.5rem;   
    border:$color-principal 1px solid;           
    border-top:0x;  
    z-index: 9999;
}
/*----------------estilos de seccion festividades -----------*/
.tamanoImagenes {
    height: $tamano-total;
    width:$tamano-total;
    max-height: 85px;
    max-width: 65px;
    border-radius: 10%;
}
.festividades {    
    display:flex; 
    flex-flow:nowrap column;
    justify-content: space-around;
    flex-basis: 100px;    
    padding:5px;
    margin-top: 10px;
    margin-bottom:10px;
}
.fotosFestividades {
    display: flex;
    flex-flow: row wrap;  
    justify-content:space-around;
    flex-basis: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fotosFest {
    margin:2px;
}
.fotoFs {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
    min-height:200px;
    min-width: 250px;    
    border-radius: 5%;    
    border: $color-black 1px solid;
    margin: 5px 0 1em 0;      
}
@for $i from 1 through 4 {
    .fotoFsEnero#{$i} { 
        background-image: url('../media/img/festividades-enero#{$i}.jpg');
    }
}
@for $i from 1 through 4 {
    .fotoFsAbril#{$i} { 
        background-image: url('../media/img/festividades-abril#{$i}.jpg');
    }
}
.fotoGrow {
    flex-grow:1;
} 
.grillaFestividades {    
    display:grid;    
    grid-column-gap:2px;
    justify-items: stretch; 
    align-content: center;  
    align-items:center; 
    justify-content: stretch; 
    padding: 0.5rem; 
    margin-bottom:60px;   
    grid-template-areas:
    "gFestividades"        
    "gEnero"                            
    "fEnero"      
    "iEnero"
    "gAbril"
    "fAbril"
    "iAbril"
    "gFooter";        
    grid-template-columns:3fr;
}
.grillaTitulosFestividades {
    grid-area: gFestividades;  
    padding:0.5rem;
} 
@each $mes in Enero,Abril {
    .grilla#{$mes}{
        grid-area:g#{$mes};
    }
    .fotosGrilla#{$mes}{
        grid-area:f#{$mes};
    }
    .info#{$mes}{
        grid-area:i#{$mes};
    }
    .aside#{$mes}{
        grid-area:a#{$mes};
        @if $mes == Enero{
            background-image: url("../media/img/festividades-aside-castle.jpg");
        }
        @if $mes == Abril{
            background-image: url("../media/img/festividades-aside-sakura.jpg");   
        }
    }
}
.propAside {
    background-size: cover;
    background-position: center;
    list-style: none;
    border-radius: 1%;
    width: 96%;
    height: 95%;   
}
/* ----------------- estilos de transporte----------------------*/
.fotoTr {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
    min-height:200px;
    min-width: 250px;    
    border-radius: 5%;   
    border: $color-black 1px solid;
    margin: 5px 0 1em 0;  
} 
@each $img in jrpassestandar,jrgreen,icicoca,icsuica {
    .foto#{$img} { 
        background-image:url('../media/img/transporte-#{$img}.jpg');
    
    @if $img == icicoca {
         background-size: 95%;
    };
        @if $img == icsuica {
         background-size: 95%;
        }
    }
} 
@for $i from 1 through 4 {
    .fotoShinkansen#{$i} { 
        background-image: url('../media/img/transporte-shinkansen#{$i}.jpg');
    }
}
@each $img in trenjr,trenpikachu,busghibli,busjapan {
    .foto#{$img} { 
        background-image:url('../media/img/transporte-#{$img}.jpg');
    }
}
@for $i from 1 through 2 {
    .fotoTaxi#{$i} { 
        background-image: url('../media/img/transporte-taxi#{$i}.jpg');
    }
}
.grillaTransporte{    
    display: grid;
    grid-template-rows: max-content;
    grid-row-gap: 50px;
    grid-column-gap:5px;  
    padding: 1rem;
    grid-template-areas:
    "tituloJr"
    "fotoJr"      
    "tituloIc"
    "fotoIc"
    "tituloShin"
    "fotoShin"
    "fotoShin"
    "fotoShin"
    "fotoShin"  
    "tituloCole"
    "fotoCole"
    "tituloTaxi"
    "fotoTaxi"
    "tituloTren"
    "fotoTren";
    justify-items:center; 
    align-content:center;  
    align-items:center; 
    justify-content:center;
    grid-template-columns: 1fr;
}
@each $titulo in tituloJr,tituloIc,tituloShin,tituloCole,tituloTaxi,tituloTren {
    .grilla-#{$titulo} { 
        grid-area:#{$titulo};
    }
}
@each $foto in fotoJr,fotoIc,fotoShin,fotoCole,fotoTaxi,fotoTren {
    .grilla-#{$foto} { 
        grid-area:#{$foto};
        @if $foto == fotoShin{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            flex-basis: 50px; 
        }
    }
}
/*------------- definiciones de seccion ciudades turisticas-----------*/
.asideCiudad {
    margin:10px;
    width:100%;
    height: 100%;
    min-height:50px;
    min-width:100px;
    max-width:350px;
    max-height:200px; 
}
@each $ciudad in Tokyo,Kyoto,Nara,Miyajima{
    .mapa#{$ciudad}{
        grid-area:m#{$ciudad};
    }
    .aside#{$ciudad}{
        grid-area:a#{$ciudad};
    }
    .fotosGrilla#{$ciudad}{
        grid-area:f#{$ciudad};
    }
    .grilla#{$ciudad}{
        grid-area:g#{$ciudad};
    }
}
.grillaCiudades {

    h3{
       border-bottom: $color-titulo 2px solid;
    }
}
.grillaTituloCiudades {
    grid-area:gCiudades;
}
.grillaCiudades{       
    display:grid;            
    grid-column-gap:2px;
    row-gap: 60px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;    
    padding: 0.5rem;
    grid-template-areas:
    "gCiudades"
    "gTokyo "   
    "mTokyo"  
    "aTokyo"
    "gKyoto" 
    "mKyoto"
    "aKyoto"                   
    " gNara "        
    "mNara"
    "aNara"
    "gMiyajima"      
    "mMiyajima"
    "aMiyajima"
    "gFooter ";  
    grid-template-columns:3fr;    
}
@for $i from 1 through 3 {
    .fotoTk#{$i} { 
        background-image: url('../media/img/ciudades-tokyo#{$i}.jpg');
    }
}
@for $i from 1 through 3 {
    .fotoKy#{$i} { 
        background-image: url('../media/img/ciudades-kyoto#{$i}.jpg');
    }
}
@for $i from 1 through 3 {
    .fotoN#{$i} { 
        background-image: url('../media/img/ciudades-nara#{$i}.jpg');
    }
}
@for $i from 1 through 3 {
    .fotoM#{$i} { 
        background-image: url('../media/img/ciudades-miyajima#{$i}.jpg');
    }
}
//--------------------fondo header----------------------------------
.estiloFondoHeader{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;   
    border: $color-principal 2px solid;   
    height: 15vh; 
}
@each $img in torii,festividades,ciudades,transporte,sobremi {

        .fondoHeader-#{$img} {
            background-image:url('../media/img/fondo_#{$img}.jpeg');
      
            @if $img == sobremi {                
                background-position-y:32%;}

            @if $img == transporte {        
            background-position-y:37%;}       
        }
}
//------------- importo medias para que no las pise mi clase redefinida------------------
@import "medias";


